<!--
/**
* @author Nhu Nguyen, David Chicas
* @student_id 201916426, 201919354
* @course COMP 3100 - Web Programming
* @year 2022 
*/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>playlist generator</title>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
        <a href="../../index.html">go back</a>
    </head>

<body>
    <div>
        <h1>select genres!</h1>
    </div>
</body>

</html>
